@import 'index.css';
@import 'Nav.css';
@import 'About.css';
@import 'Header.css';
@import 'Portfolio.css';

.App {
  text-align: center;
  background-color: #282c34;
}
.App-logo {
  max-height: 40vmin;
  pointer-events: none;
}

.Main-App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.App-link {
  color: #61dafb;
}
