.Contact-Main{
  bottom:0;
  margin-top:8rem;
  background-color: rgb(37, 37, 37);
  min-height:5rem;
  width:100%;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Contact-Main-Text{
  margin-left:1rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.Contact-Info{
  margin-top:0;
  font-size: 0.9rem;
}

.Contact-Bottom{
  background-color:black;
  min-width:100%;
  display: flex;
  justify-content: space-between;
}
.Contact-Bottom-Text{
  margin-left:1rem;
  font-size: 1rem;
  
}

.Source-Code-Link{
  margin-right:2rem;
  font-size: 1rem;
  
}
.Source-Code-Link:hover{
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width:350px){
  .Contact-Main{
    font-size:0.8rem;
  }
  .Contact-Info{
    font-size: 0.8rem;
  }
  .Contact-Bottom-Text{
    font-size:0.7rem;
  }
  .Source-Code-Link{
    font-size:0.7rem;
  }
}