.Header-Main{
  min-height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 1.5rem;
}

.App-Sub-Title{
  width:80vw;
  line-height: 2rem;
  color:rgb(37, 37, 37);
}

.Header-Main-Links{
  width:50%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top:2rem;
}
.Main-Link-Icon{
  height:2.8rem;
  width:2.8rem;
  border-bottom:1px solid transparent;
}

.Main-Link-Icon:hover{
  cursor: pointer;
  border-bottom:1px solid black;
}

@media screen and (max-width:450px){
  .Main-Link-Icon{
    height:2rem;
    width:2rem;
  }
}