.Nav-Burger-Modal-Main{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.Nav-Burger-Modal{
  position:fixed;
  right:-100%;
  top:0;
  height:100vh;
  background:lightgray;
  width:50%;
  margin-right:0rem;
  transition:1s;
  z-index:3;
}

.Show-Modal{
  z-index: 2;
  transform-origin: 100% 60%;
  transform:translateX(-200%);
  transition:1s;
  overflow-y: hidden;
  height:100vh;
  opacity:1 !important;
}

.Modal-Open{
  opacity:0.4;
  pointer-events: none;
}

.Modal-Button-Form{
  width:100%;
  background-color: lightgray;
  margin-top:2rem;
  height:3rem;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  border:transparent;
}
.Modal-Button{
  width:60%;
  height:100%;
  border-radius:5px;
  border:transparent;
  background-color: transparent;
  font-size:1.5rem;
}

.Modal-Button-Form:hover{
  cursor:pointer;
  filter:invert(100%);
}
.Modal-Button:hover{
  cursor: pointer;
}

/* 

Modal Background Fun

*/


@media screen and (min-width:700px){
  .Nav-Burger-Modal{
  }
}