.Nav-Main{
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  top:0;
  margin-bottom:20rem;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.Nav-Name-Text{
  font-size: 2rem;
  color:white;
  margin-left:1rem;
}


.Nav-UL{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 0;
  margin-left:1rem;
}

.Nav-UL-Button{
  color:white;
  max-width:20%;
  border-radius:5px;
  text-align: center;
  line-height:4rem;
  height:2.5rem;
  width:5rem;
  flex-grow: 0.5;
  margin-right:3rem;
  font-size: 1.5rem;
}

.Nav-UL :nth-child(2){
  margin-right: 2rem;
}

.Nav-UL-Button:hover{
  cursor:pointer;
  text-decoration: underline;
}

.Nav-UL-Burger{
  display: none;
}




@media screen and (max-width:700px){
  .Nav-UL-Button{
    display:none;
  }
  .Nav-UL-Burger{
    display:inline-flex;
    height:4.5rem;
    width:4.5rem;
    margin-right:0.5rem;
    margin-top:-0.2rem;
    filter:invert(90%)
  }
  .Nav-UL-Burger:hover{
    cursor:pointer;
    filter:invert(100%);
  }
}